<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Type Selector</title>
    <style>
        body {
            text-align: center;
            margin-top: 400px;
        }
        button {
            font-size: 20px;
            padding: 10px 40px;
            margin: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Choose Control type:</h1>
    <a href="/joint_control"><button>Joint</button></a>
    <a href="/tcp_control"><button>TCP</button></a>
</body>
</html>
